.App {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  padding: 0;
  margin: 0;
}
.board {
  width: 500px;
  height: 500px;
  background-color: aqua;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}
.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 30px;
  cursor: pointer;
}
.square:active {
  background-color: rgba(17, 207, 182, 0.952);
}
